<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Añadir Categoría</title>
</head>
<body>
    <h1>Añadir Categoría</h1>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('categoria.add') }}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="genero">Género:</label>
        <select name="genero" id="genero" required>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
            <option value="Unisex">Unisex</option>
        </select>


        <button type="submit">Añadir Categoría</button>
    </form>
</body>
</html>
